<h1> <%= title %> </h1>

<h3> This is my experimental project to syncronize Trello with Google Calendars</h3>

<div> Choose from the following options:</div>

 <ul>
 	<li><a href="/new">New events</a></li>
 	<li><a href="/upcoming">Upcoming events</a></li>
 	<li><a href="/local">Locally stored events</a></li>
 	<li><a href="/trash">Locally trashed events</a></li>
</ul>